{% extends 'base.html' %}
{%block content%}
<a href="{% url 'home' %}?sort=new_arrival">Sort by New Arrival</a>
<a href="{% url 'home' %}?sort=price">Sort by Price</a>
<hr>
<h1>Products : </h1>

{% for product in object_list%}
    <img src= "{{product.image.urls}}" alt="{{product.name}}"><br>
    <a href="{% url 'productdetail' product.pk %}">
{{product.name}}</a>
- {{product.price}}<br>
{{product.stock_status}}<br>
<br>
{%endfor%}

{%endblock%}

{% comment %} {% extends 'base.html' %}

{% block content %}
    <h1>Products:</h1>
    <ul>
        {% for product in object_list %}
            <li>
                <img src="{{ product.Image.url }}" alt="{{ product.Name }} Image"><br>
                <a href="{% url 'productdetail' product.pk %}">{{ product.Name }}</a> - ${{ product.Price }}<br>
                Stock Status: {{ product.Stock_Status }}<br>
                <br>
            </li>
        {% endfor %}
    </ul>
{% endblock %} {% endcomment %}

