{% extends 'base.html' %}
{% load static %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Shopping Cart</h1>

        {% if cart_empty %}
            <p>Your cart is empty.</p>
        {% else %}
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'wishlist' user_id=user_id %}" class="btn btn-primary mr-2">Wishlist</a>
                </div>
                <div class="col-md-6 text-right">
                    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
                    <a href="{% url 'add_cart_to_order' user_id=user_id %}" class="btn btn-success ml-2">Buy</a>
                </div>
            </div>

            <div id="cart" class="mt-4">
                <h2>Cart Items</h2>
                <ul class="list-group">
                    {% for item in cart_items %}
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>{{ item.products.name }}</span>
                                <span class="text-dark">Quantity: <span class="text-dark">{{ item.quantity }}</span></span>
                                <span class="text-dark">Price: <span class="text-dark">$ {{ item.products.price }}</span></span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-2">
                                <form method="post" action="{% url 'delete_from_cart' item.cart.user.id item.products.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger mr-2">Delete</button>
                                </form>
                                <form method="post" action="{% url 'transfer_to_save_for_later' item.cart.user.id item.products.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-warning">Save for Later</button>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

